.masthead {
    background-size: cover !important;
    min-height: 60vh !important;
    color: white !important;
}

.cardActive {
    /* color de fondo negro y letra blanca */
    background-color: black !important;
    color: white;
}

.transitionAll {
    transition: all 0.5s ease-in-out;
}

.showP {
    display: block !important;
    color: white;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 50px 55px;
    height: 85vh;
}

label {
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}


input,
textarea {
    padding: 2%;
    border-radius: 2%;
    margin-bottom: 10px;
    background-color: #00000010;
    border: 2px solid #f0faf1;
    color: #000000;
    outline: none;
    width: 100%;
}

input::placeholder,
textarea::placeholder {
    color: rgba(0, 0, 0, 0.425);
}

.form-txt {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: black;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}





@media(max-width:991px) {
   

    form {
        padding: 50px 30px;
        width: 100%;
    }

    input {
        pad: 15px;
    }


}

/* IDIOMA */

.toggle-theme__icon {
    margin-right: 0.5rem;
    width: 20px;
}

.flags {
    width: 75px;
    display: flex;
    gap: 10px;
}

.flags__item {
    width: 30px;
}

.flags__img {
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.flags__img:hover {
    transform: scale(1.1);
}

#btn-back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

.card-img {
    width: 100%;
    height: 250px;
}

/* body {
    background-color: gray;
} */

.myNavbar {
    background-color: rgba(255, 255, 255, 0.164) !important;
}

.video-banner {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grow {
    flex-grow: 1 !important;
}

@media (max-width: 768px) {
    .video-banner {
        height: 50vh;
    }

    .flags {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }

    .fondoClientes{
        background-image: url(./Assets/fondo.avif) !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    
    }

    .portadaSeguridadimg{
        display: none;
        block-size: 0;
    }

    .portadaServiciosimg{
        display: none;
        block-size: 0;
    }

    .portadaComunicacionesimg{
        display: none;
        block-size: 0;
    }
    .portadaElectricidadimg{
        display: none;
        block-size: 0;
    }

    .portadaEnergiasRenovablesimg{
        display: none;
        block-size: 0;
    }

    .portadaOperadorimg{
        display: none;
        block-size: 0;
    }
    .portadaCertificacionesimg{
        display: none;
        block-size: 0;
    }

    .portadaContactoimg{
        display: none;
        block-size: 0;
    }
    .divContacto{
        display: none !important;
        block-size: 0;
    }
    .divElectricidad{
        display: none !important;
        block-size: 0;
    }
    .portadaTrabajaimg{
        display: none !important;
        block-size: 0;
    }
    .Encontranos{
        display: none !important;
        block-size: 0;
    }
}